<!-- Form to allow user to post the details and store them in the DB -->
<div class="row pt-5 pb-5">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class= "card-header bg-info">
          <h3>Create a User</h3>
        </div>
        <div class= "card-body">
          {{registerUser.value | json}}
          <form [formGroup]="registerUser" (ngSubmit) = "onSubmit()">
            <div class= "form-group">
              <label>Id:</label>
              <input type="number" placeholder="Enter your id" class="form-control" formControlName="sno" >
            </div>
            <div class= "form-group">
              <label>Name:</label>
              <input type="text" placeholder="Enter your Name" class="form-control" formControlName= "name">
            </div>
            <div class= "form-group">
              <label>Email:</label>
              <input type="email" placeholder="Enter your Email-id" class="form-control" formControlName="email">
            </div>
            <div class= "form-group">
              <label>ImageUrl:</label>
              <input type="text" placeholder="Enter your imageurl" class="form-control" formControlName="imageurl">
            </div>
            <div class= "form-group">
              <label>Number Of Repositories:</label>
              <input type="number" placeholder="Enter the number of repositories" class="form-control" formControlName="nofreps">
            </div>
            <button type="submit" class="btn btn-info"> Create User </button>
          </form>
        </div>
      </div>
    </div>
</div>
